header {
    color:black;
    background-image: url(popcornbackground.jfif);
}
body {
    background: linear-gradient(to left, #414141, grey);
}
nav {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: larger;
    background-color: #414141;
    min-width: 8em;
    text-align: center;
    margin-right: 2px;
  }

main {
    background: linear-gradient(to right, #414141, grey);
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
    display: block;
    width: 100%;
}
hr {
    border: 5px solid rgb(155, 0, 0);

    border-style: inset;
}

label {

    float: left;
    display:block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
}

input, textarea {
    display: block;
    margin-bottom: 20px;
}




input[type="submit"] {
    margin-left: 140px;
}

table {
    margin: auto;
    border: 5px solid rgb(155, 0, 0);
    width: 600px;
    border-spacing: 0;
  }

  td, th {
    border-style: none;
    padding: 5px;
    font-family: Arial, sans-serif;
  }

  .altrow {background-color: #b6b6b6a8}

  #form {
    display: flex;
    justify-content: center;
  }

  caption {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 5px;
  }

#gallery {
    background-color: rgb(155, 0, 0);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 3em;
}
#navigation {
    display: flex;
    
}
#nest {
    display: flex;
    margin: 1px;
    min-height: 30em;
    margin: 0;
    padding: 0;
}
#intro {
    display: flex;
    width: 100%;
    
}

footer {
    background-color:#4f5661;
    text-align: center;
}

a{
    color: white;
}
* {
    margin: 0;
    padding: 0;
}